@import 'styles/_variables';

.Homepage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  color: $primary-dark;
  background-color: $white;
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
}
